body {
    background-color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }

#button-save {
    display: none;
  }

  #container {
    background-color: rgb(188, 229, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% auto; 
    width: 30%;
    border-radius: 15px;
    padding: 25px;
  }
  
  #cities, #city {
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  td {
    padding: 3px 9px;
  } 
  
  #back {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 999;
  }

